{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <!-- ALERT MESSAGES -->
    <!-- Misc. messages -->
    {% for message in messages %}
    <div class="w-auto p-3">
        <div class="alert alert-danger">
            <a class="close" href="{% url 'listing' listing.id %}" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <!-- Active listings -->
    <div class="d-flex flex-wrap align-content-start flex-row card-deck">
        {% for listing in listings %}
        <a href="{% url 'listing' listing.id %}" class="custom-card">
            <div class="card p-2" style="width: 18rem;">
                <img class="card-img-top" src={{ listing.image }} alt="Image of {{ listing.title }}">
                <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Current bid: ${{ listing.current_price }} </li>
                <li class="list-group-item">Listed by: {{ listing.owner }}</li>
                <li class="list-group-item">Category: {{ listing.category.category }}</li>
                </ul>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}