{% extends "auctions/layout.html" %}

{% block body %}
    <!-- ALERT MESSAGES -->
    <!-- Inactive auction, user is winner -->
    {% if listing.is_active == False and user == listing.winner %}
    <div class="w-auto p-3">
        <div class="alert alert-success">
            You won this auction!
        </div>
    </div>
    <!-- Inactive auction, user is not winner -->
    {% elif listing.is_active == False and user != listing.winner %}
    <div class="w-auto p-3">
        <div class="alert alert-danger">
            This auction has been closed. 
        </div>
    </div>
    {% endif %}
    <!-- Misc. messages -->
    {% for message in messages %}
    <div class="w-auto p-3">
        <div class="alert alert-danger">
            <a class="close" href="{% url 'listing' listing.id %}" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <!-- LISTING -->
    <!-- Listing details -->
    <h2>Listing: {{ listing.title }}</h2>
    <img class="img-fluid" src={{ listing.image }} alt="Image of {{ listing.title }}">
    <p>Description: {{ listing.description }}</p>
    <h3>Details</h3>
    <ul>
        <!-- Show current bid if auction is active -->
        {% if listing.is_active == True %}
            <li>Current bid: ${{ listing.current_price}}</li>
        <!-- Otherwise, show winning bid/winner -->
        {% else %}
            <li>Winner: {{ listing.winner }}</li>
            <li>Winning bid: {{ listing.winning_bid }}</li>
        {% endif %}
        <li>Listed by: {{ listing.owner }}</li>
        <li>Category: {{ listing.category.category }}</li>
        <li>Starting bid: ${{ listing.starting_bid }}</li>
        <li>Created on: {{ listing.created_on }}</li>
    </ul>
    {% if user.is_authenticated %}
        <!-- WATCHLIST -->
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn-dark btn" value="Add" name="Watchlist"/>
        </form>
        <!-- AUCTION UTILITIES -->
        {% if listing.is_active == True %}
            {% if user != listing.owner%}
            <!-- User can submit a bid if logged in, not the listing owner, and the listing is active -->
                <!-- Submit bid -->
                <div class="w-auto p-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <input type="submit" class="btn-primary btn" value="Bid" name="Bid">
                    </form>
                </div>
            <!-- User can close the auction if they are the list owner -->
            {% elif user == listing.owner %}
                <!-- Close auction -->
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn-danger btn" value="Close" name="Close"/>
                </form>
            {% endif %}
        {% endif %}
        <!-- COMMENTS section -->
        <!-- Display comments -->
        {% for comment in comments %}
        <div class="card mb-3">
            <div class="col-md-8">
            <div class="card-body">
                  <h5 class="card-title">{{ comment.author }}</h5>
                  <p class="card-text"> {{ comment.text }} </p>
                  <p class="card-text"><small class="text-muted">Submitted on: {{ comment.created_on }} </small></p>
                </div>
              </div>
        </div>
        {% endfor %}
        <!-- Submit comment -->
        <div class="w-auto p-3">
            <form action="" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" class="btn-primary btn" value="Comment" name="Comment">
            </form>
        </div>
    {% endif %}
{% endblock %}