a.custom-card,
a.custom-card:hover {
    text-decoration: inherit;
    color: inherit;
}

body {
    padding: 10px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

#cards-grid {
    display: flex;
    flex-wrap: wrap;
}