{% extends "nbastats/layout.html" %}

{% block body %}
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a id="bio-link" class="nav-link active" aria-current="true" href="#">Bio</a>
        </li>
        <li class="nav-item">
          <a id="graph-link" class="nav-link" href="#">Averages Graphed</a>
        </li>
      </ul>
    </div>
    <div class="card-body bio">
      <img src="{{ photo_url }}" height="190" width="260" alt="Image of {{ fname }} {{ lname }}">
      <h5 class="card-title">{{ player_info.firstName }} {{ player_info.lastName }}</h5>
      <p class="card-text">Height: {{ player_info.heightFeet }}'{{ player_info.heightInches }}"</p>
      <p class="card-text">Weight: {{ player_info.weightPounds }}</p>
      <p class="card-text">Position: {{ player_info.teamSitesOnly.posFull }}</p>
      <div class="table-responsive sortable table-hover table-sm">
        {{ html | safe }}
      </div>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <!-- Graph -->
    <div class="graph-div" style="display:none;">
        <select id="selectButton"></select>
        <svg width="1200" height="750" class="graph"></svg>
    </div>
</div>
{% endblock %}