{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <!-- IF USER PROFILE -->
        {% if username %}
          <h1>@{{ username }}</h1>
          <!-- (Un)Follow -->
          {% if request.user.username != username %}
              {% if following %}        
              <form action="" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-dark" value="Unfollow" name="Follow">
                      Unfollow
                  </button>
              </form>
              {% else %}
              <form action="" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-dark" value="Follow" name="Follow">
                      Follow
                  </button>
              </form>
              {% endif %}
          {% endif %}
          <!-- Following / Followers -->
          <p>{{ num_followers }} Followers</p>
          <p>{{ num_following }} Following</p>
        {% else %}
          <!-- Submit post -->
          <div class="w-auto p-3">
              <h3>New Post</h3>
              <form action="" method="post">
                  {% csrf_token %}
                  {{ post_form.as_p }}
                  <input type="submit" class="btn-primary btn" value="Post" name="Post">
              </form>
          </div>
        {% endif %}
        <!-- Display posts -->
        {% for post in page %}
        <div class="card mb-3">
            <div class="col-md-8">
            <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'user' post.author %}">@{{ post.author }}</a></h5>
                  <p class="card-text post-content"> {{ post.text }} </p>
                  <textarea class="post-editor" type="text" style="display: none;" data-id="{{ post.id }}"></textarea>
                  <p class="num-likes">{{ post.num_likes }} Likes</p>
                  {% if request.user == post.author %}
                    <button type="submit" name="edit" class="btn btn-dark edit">Edit</button>
                  {% endif %}
                  {% if post.like %}
                    <button type="submit" name="like" class="btn btn-dark like" data-id="{{ post.id }}">Unlike</button>
                  {% else %}
                    <button type="submit" name="like" class="btn btn-dark like" data-id="{{ post.id }}">Like</button>
                  {% endif %}
                  <p class="card-text"><small class="text-muted">Created on: {{ post.created_on }} </small></p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Pagination -->
        <nav aria-label="...">
            <ul class="pagination">
            {% if page.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
              </li>
            {% endif %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ page.number}}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}